.container {
  align-items: center;
  background-color: rgb(184, 68, 97);
  display: flex;
  flex-direction: column;

  .friend {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    padding: 15px;
    grid-gap: 50px;
  }

  &__list {
    text-align: center;

    .list {
      padding-bottom: 5px;
      padding-top: 5px;
      width: 180px;
      background-color: rgba(255, 211, 222, 0.836);
      margin: 10px;
      border-radius: 30px;
    }
    .img {
      width: 126px;
      height: 180px;
      background-color: #5cb85c;
      -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }
    .pink {
      background-color: $color-primary;
    }
  }

  &__buttons {
    display: flex;

    padding: 40px;
    align-items: center;
    background-color: $color-primary;
    border-radius: 50px;
    margin-top: 15px;

    &--tittle {
      font-size: 50px;
      color: rgb(252, 196, 210);
      padding-right: 50px;
      margin-right: 70px;
    }
    &--set {
      margin-right: 30px;
      text-overflow: clip;
      border-radius: 6px;
      background-color: $color-primary;
      border-color: white;
      color: white;
      font-family: 'pacifico';
      height: 70px;
      padding: 5px;
      font-family: 'Amatic SC', cursive;
      font-size: 20px;
      margin-left: 80px;
    }
    &--get {
      margin-right: 30px;
      border-radius: 6px;
      background-color: $color-primary;
      border-color: white;
      color: white;
      height: 70px;
      padding: 5px;
      font-family: 'Amatic SC', cursive;
      font-size: 20px;
    }
  }
}

.pink {
  background-color: black;
}

//CORAZON
.corazon {
  background-color: rgb(184, 68, 97);
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  left: 47%;
  top: 7%;
  width: 50px;
}

.corazon:before,
.corazon:after {
  content: '';
  background-color: rgb(184, 68, 97);
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.corazon:before {
  top: -25px;
  left: 0;
}

.corazon:after {
  left: 25px;
  top: 0;
}

//LATIDO

@keyframes latido {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  20% {
    transform: scale(1.25) rotate(-45deg);
  }
  40% {
    transform: scale(1.5) rotate(-45deg);
  }
}

//ANIMACIÓN

.corazon {
  animation: latido 1s infinite; /* nuestro corazón tiene latidos infinitos */
}
